.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 98%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 5px;
}

.input {
  width: 300px;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-div .update-btn {
  width: 15rem;
  padding: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 10px;
}

.passwordError {
  margin-top: -25px;
  margin-bottom: 5px;
}

