<h2 mat-dialog-title>Upload File for {{ subject.name }}</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <button type="button" mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
    <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="primary" [disabled]="!selectedFile || !!errorMessage" (click)="onSubmit()">Upload</button>
</div>
