.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 98%;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-div .login-btn {
  width: 15.3rem;
  padding: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}

.register {
  display: flex;
  align-items: baseline;
}

.error {
  color: red;
  display: flex;
  font-size: 20px;
  line-height: 25px;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

